* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #201313;
    color: #FAF9F9;
}

.header {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid yellow; */
    padding: 20px;
}

.navigation {
    display: flex;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.navigation div {
    font-size: 15.84px !important;
}