* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #201313;
    color: #FAF9F9;
}

.header {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid yellow; */
    padding: 20px;
}

.navigation {
    display: flex;
    font-family: "JetBrains Mono", monospace;
    font-weight: 500;
    /* border: 1px solid chartreuse; */
}

.navigation div, .navigation a {
    margin: 0 15px;
    font-size: 15.84px !important;
}

.caseStudies {
    color: #FAF9F9;
    text-decoration: none;
}

.caseStudies:hover {
    text-decoration: 1px solid underline #FFC725;
    color: #FFC725;
}

.blog {
    color: #FFC725;
    text-decoration: none;
}

.blog:hover {
    text-decoration: 1px solid underline #FFC725;
}

.getStarted {
    background-color: #CE2D2D;
    text-align: center;
    color: #FAF9F9;
    padding: 10px 15px;
    font-family: "JetBrains Mono", monospace;
    text-decoration: none;
    border-radius: 20px;
    transition: .1s;
}

.getStarted:hover {
    border: 2px solid #201313;
    outline: 4px solid #CE2D2D;
    transition: .1s;
}